
.desert-bg{
    width: 100%;
    height: 60vh;
    min-height: 400px;
    left: 0;
    top:0;
    z-index: -10;
    opacity: 1;
    position: relative;

    @include media-breakpoint-up(_768) {
        height: auto;
        position: fixed;
        opacity: 0;
    }
}
.desert-bg__picture{
    display: block;
    height: 60vh;
    min-height: 400px;
}
.desert-bg__picture img{
    object-fit: cover;
    object-position: center center;
    width: 100%;
    height: 60vh;
    max-height: 60vh;
    min-height: 400px;

    @include media-breakpoint-up(_768) {
        height: 100vh;
        max-height: 100vh;
    }
    @include media-breakpoint-up(_1440) {

    }
}

.desert__the-natural-perfect{
    height: 100vh;
    min-height: 400px;
    color: $gold;
    font-family: $font-family-accidental;
    font-size: 1.5em;
    font-weight: 600;
    letter-spacing: .25rem;
    text-align: center;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    align-content: center;

    //margin-top: 500px;
    //transform: translate(0px, -20vh);
    position: fixed;
    left: 0;
    top: 0;
    opacity: 0;
    z-index: 200;
}
.desert__infinite-majesty {
    width: 100%;
    height: 100%;
    z-index: 100;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;


    @include media-breakpoint-up(_768) {
        transform: translate(0px, 90vh);
    }
    @include media-breakpoint-up(_1440) {

    }
}
.desert__infinite-majesty .container{
    height: 100%;
}
.desert__infinite-majesty__body {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: center;
    height: 100%;
    min-height: 400px;
}
.desert__infinite-majesty__hdr{
    color: $white;
    font-family: $font-family-accidental;
    font-size: 2em;
    font-weight: 600;
    text-align: center;
    line-height: 1.3;

    @include media-breakpoint-up(_768) {
        font-size: 3em;
    }
}
.desert__infinite-majesty__text{
    color: $white;
    font-family: $font-family-base;
    font-size: 1em;
    text-align: center;
    margin-top: 1em;

    @include media-breakpoint-up(_768) {
        margin-top: 0;
    }
    @include media-breakpoint-up(_1024) {

        padding: 0 15% 0 15%;
    }
}
.desert-bg__pseudo{
    display: none;

    @include media-breakpoint-up(_768) {
        display: block;
        height: 100vh;
    }
}