
body.modal-open{
    overflow: hidden;
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;
}

.modal__body {
    width: 100%;
    overflow: hidden;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 30000;
    opacity: 0;
    transform: translateY(-100%);
    display: none;


    @include media-breakpoint-up(_1024) {
        margin-bottom: 30px;
        width: 700px;
        box-shadow: 0 0 45px rgba(0, 0, 0, .3);
        position: fixed;
        top: 0;
        left: 50%;
        transform: translateX(-50%) translateY(-100%);
        transition: transform .3s ease-in-out .1s, opacity .3s ease-in-out;
    }
}
.modal__body.display {
    display: block;
}
.modal__body.open {
    opacity: 1;
    transform: translateY(0px);

    @include media-breakpoint-up(_1024) {
        transition: transform .3s ease-in-out, opacity .3s ease-in-out .1s;
        transform: translateX(-50%) translateY(30px);
    }
}


body.modal__fixed {
    position: fixed;
    width: 100%;
    height: 100vh;
    left: 0;
    top: 0;
}

.modal__close{
    position: absolute;
    right: 1em;
    top: 1em;
    height: auto;
    cursor: pointer;
    width: 40px;

    img{
        width: 100%;
    }
}

.modal__content {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    overflow-scrolling: touch;

    @include media-breakpoint-up(_567) {

    }
    @include media-breakpoint-up(_1024) {

    }
}

.modal__backdrop.show{
    position: fixed;
    width: 100vw;
    height: 100vh;
    left: 0;
    top: 0;
    z-index:30000;
    background-color: rgba(0 ,0, 0, 0.7);
}
