@import "../../../node_modules/bootstrap/scss/functions";
@import "bootstrap/custom-extra";
@import "bootstrap/custom";
@import "../../../node_modules/bootstrap/scss/mixins";
@import "../../../node_modules/bootstrap/scss/helpers/ratio";

@import "products";
@import "desert-tiny-block";
@import "flyout-block";
@import "simple-text-block";
@import "desert";

#trigger-4{
    height:0;

    @include media-breakpoint-up(_1024) {
        height: 300px;
    }
    @include media-breakpoint-up(_1280) {
        height: 100px;
    }
}