@import "../../../node_modules/bootstrap/scss/functions";
@import "bootstrap/custom-extra";
@import "bootstrap/custom";
@import "../../../node_modules/bootstrap/scss/mixins";
@import "../../../node_modules/bootstrap/scss/forms";


.to-top{
    position: fixed;
    right: 1em;
    bottom: 1em;
    width: 40px;
    height: 40px;
    z-index: 10000;
    cursor: pointer;
}