
@font-face {
    font-family: 'PFBagueSansPro';
    src: url('/fonts/pfbaguesanspro-bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'PFBagueSansPro';
    src: url('/fonts/pfbaguesanspro-medium.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'PFBagueSansPro';
    src: url('/fonts/pfbaguesanspro.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'PFBagueSansPro';
    src: url('/fonts/pfbaguesanspro-italic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}


@font-face {
    font-family: 'PFRegalTextPro';
    src: url('/fonts/pfregaltextpro-regulara.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'PFRegalTextPro';
    src: url('/fonts/pfregaltextpro-regularaitalic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'PFRegalTextProB';
    src: url('/fonts/pfregaltextpro-regularb.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'PFRegalTextProB';
    src: url('/fonts/pfregaltextpro-regularbitalic.woff2') format('woff2');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'PFRegalTextPro';
    src: url('/fonts/pfregaltextpro-medium.woff2') format('woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'PFRegalTextPro';
    src: url('/fonts/pfregaltextpro-mediumitalic.woff2') format('woff2');
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'PFRegalTextPro';
    src: url('/fonts/pfregaltextpro-bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
